<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="color:white;">hulk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/hulk.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Hulk, le mastodonte au cœur tendre</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Alias:</h2>
      <p>
        Bruce Banner, docteur en physique, spécialiste des rayons gamma.
      </p>
      <b><h2>Incarné au cinéma par:</h2></b>
      <p>
        Eric Bana (2003), Edward Norton (2008) et Mark Ruffalo (2012).
      </p>
      <b><h2>Origines:</h2></b>
      <p>
        une expérience scientifique tourne mal, exposant Bruce Banner aux radiations des rayons gamma. Son ADN mute et en fait une sorte de Mr Hyde aux allures de la créature de Frankenstein. Chaque fois qu'il se met en colère, Banner se transforme en un colosse monstrueux, Hulk (ce qui signifie en anglais «mastodonte»).
        <b><h2>Pouvoirs:</h2></b>
      <p>
      le géant vert est tout bonnement indestructible, invincible et doté d'une force sans limite. Mais il est souvent incontrôlable également...
      <b><h2>Personnalité:</h2></b>
      <p>
      Bruce Banner est un scientifique de génie, sensible, doux et plein d'humour. Depuis l'accident qui a provoqué sa métamorphose en Hulk, il vit dans la réclusion, de peur de perdre le contrôle de lui-même et de blesser quelqu'un involontairement. Très réservé et calme en apparence, il bouillonne intérieurement et refuse de se considérer comme autre chose qu'un monstre.
      <b><h2>À noter:</h2></b>
      <p>
      Hulk a changé de visage à chaque film, faute de trouver la formule gagnante. Les deux premières versions du géant vert n'ont pas convaincu la critique et le public. La troisième devrait être la bonne, à en juger les premières réactions.
    </ion-card-content>
  </ion-card>
</ion-content>

