<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color:white;">Black-Widow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/bw.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Black Widow (La Veuve noire),
        beauté fatale</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Alias:</h2>
      <p>
        Natasha Romanoff, ex-agent du KGB, aujourd'hui au service du S.H.I.E.L.D.
      </p>
      <b><h2>Incarné au cinéma par:</h2></b>
      <p>
        Scarlett Johansson
      </p>
      <b><h2>Origines:</h2></b>
      <p>descendante de la famille impériale russe, Natasha Romanoff est recrutée très jeune par les services secrets russes. Elle subit un lavage de cerveau et un entraînement intensif avant de devenir Black Widow, le plus redoutable des agents communistes. Au cours d'une mission, elle est «libérée» par Hawkeye qui la convainc de rejoindre le S.H.I.E.L.D.
      </p>
      <b><h2>Pouvoirs:</h2></b>
      <p>
        son conditionnement physique et mental en a fait une espionne et une athlète extraordinaire, experte en arts martiaux et tireuse d'élite.
      </p>
      <b><h2>Personnalité:</h2></b>
      <p>
        Natasha Romanoff sait jouer de tous ses atouts et n'hésite pas à séduire ses adversaires pour mieux les abattre ensuite. Affectant un détachement à toute épreuve, elle ne perd jamais le sens des priorités et sent le devoir d'être à la hauteur pour racheter le passé sanglant qui la hante.
      </p>
      <b><h2>À noter:</h2></b>
      <p>
        Black Widow n'a pas eu droit à son propre film (pour le moment) mais a fait une apparition très remarquée dans Iron Man 2 comme secrétaire particulière de Tony Stark. À la fin du film, on découvre qu'elle était secrètement chargée par Nick Fury d'évaluer le potentiel de Stark pour les futurs Avengers.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
