<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color:white;">Hawkeye</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/ha.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Hawkeye (Œil-de-Faucon),
        ninja des temps modernes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Alias:</h2>
      <p>
        Clint Barton, agent du S.H.I.E.L.D.
      </p>
      <b><h2>Incarné au cinéma par:</h2></b>
      <p>
        Jeremy Renner
      </p>
      <b><h2>Origines:</h2></b>
      <p>
        Clin Barton perd ses parents très jeune dans un accident de voiture. À six ans, il fuit l'orphelinat avec son frère et se réfugie dans un cirque où il rencontre Swordsman, qui l'entraîne à devenir un remarquable archer.
      </p>
      <b><h2>Pouvoirs:</h2></b>
      <p>
        comme Nick Fury et Black Widow, Clint Barton n'a pas de super-pouvoirs à proprement parler. Mais son habileté à l'arc est extraordinaire et avec son équipement de flèches aux propriétés très spéciales, il se défend aussi bien que les autres super-héros.
      </p>
      <b><h2>Personnalité:</h2></b>
      <p>
        très professionnel, Barton est sans doute l'agent le plus dévoué au S.H.I.E.L.D. C'est un loup solitaire, prêt cependant à rentrer dans le rang pour les besoins d'une mission. Il entretient un lien particulier avec Black Widow qu'il a sauvé des griffes du communisme.
      </p>
      <b><h2>À noter:</h2></b>
      <p>
        le Faucon a fait sa première (et très brève) apparition à l'écran dans Thor. Perché en haut d'une grue, il se tient prêt à intervenir alors que le dieu du nord tente de récupérer son marteau… Son apparition est tellement furtive qu'on a à peine le temps d'apercevoir son visage. Hawkeye est sans doute le moins connu des membres des Avengers à l'écran mais il devrait gagner en importance et en notoriété dans les films à venir.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
