<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color:white;">Captain america</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/ca.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Captain America, le loyal justicier</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>Alias:</h2>
        <p>
          Steve Rogers, soldat devenu symbole de l'Amérique.
        </p>
        <b><h2>Incarné au cinéma par:</h2></b>
        <p>
          Incarné au cinéma par: Chris Evans
        </p>
        <b><h2>Origines:</h2></b>
        <p>
          Steve Rogers s'engage dans l'armée pendant la guerre de 1939-1945. Faible et malingre, il est cependant remarqué pour sa détermination à défendre son pays. Il est donc choisi pour participer à une expérience secrète: un sérum est injecté dans son corps et le transforme en super-soldat. Il devient alors Captain America, une figure de la propagande patriotique.
        </p>
        <b><h2>Pouvoirs:</h2></b>
        <p>
          Rogers est doté d'une puissance physique hors du commun et d'une aptitude extraordinaire aux acrobaties. Son bouclier en vibranium (créé par Howard Stark, le père du futur Iron Man) est indestructible.
        </p>
        <b><h2>Personnalité:</h2></b>
        <p>
          de tous les héros Marvel, Captain America est le plus altruiste. Il s'est porté volontaire pour devenir un surhomme et entend bien s'en servir pour protéger la veuve et l'orphelin. Par ses qualités de meneur d'hommes et de stratège, il mérite amplement son titre de capitaine. Il a beaucoup plus le sens de l'honneur que le sens de l'humour, ce qui engendre quelques frictions avec le facétieux Tony Stark.
        </p>
        <b><h2>À noter:</h2></b>
        <p>
          à la fin du film Captain America, l'avion de Steve Rogers s'écrase dans l'Arctique où il reste congelé plusieurs dizaines d'années. Il est retrouvé, à notre époque, par le S.H.I.E.L.D qui lui demande de reprendre son uniforme et de s'investir dans un nouveau projet: les Avengers.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-content>
