<ion-header color="danger">
  <ion-toolbar color="danger">
    <ion-title style="color:white;">
      Avangers
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card animeted tada">
      <ion-img src="/assets/avg.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>qui sont les héros du super-film de Marvel?</ion-card-subtitle>
        <ion-card-title class="animated heartBeat kgb">Tous savoir sur les avangers</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="animated wobble" id="ic">L'équipe des Vengeurs (« The Avengers » en version originale) est un groupe de super-héros évoluant dans l'univers Marvel de la maison d'édition Marvel Comics et constitué de personnages déjà apparus dans des comics précédents.

          En France, le comic a été publié pour la première fois par Arédit/Artima dans Eclipso no 15 (août 1971), même si les personnages avaient déjà fait quelques apparitions sporadiques dans d'autres séries éditées chez Lug depuis 1970.

          Le nom « Les Vengeurs » a été utilisé dans toutes les traductions françaises jusqu'en 2012, date de la sortie du film Avengers, inspiré de la bande dessinée : les nouvelles traductions ont alors commencé d'utiliser le nom des Avengers afin de se conformer au titre français du film.</ion-card-content>
    </ion-card>
  <ion-slides>
    <ion-slide >
      <ion-card-header expand="full">

        <ion-card-title class="kgb">THOR, le dieu du tonnerre</ion-card-title>
        <ion-card-content>
          <img src="assets/thor.jpg"/>
          <ion-button expand="full" color="warning" (click)="gopagethor();">lire</ion-button>

          <ion-img src="/assets/bien.gif"></ion-img>
        </ion-card-content>
      </ion-card-header>
    </ion-slide>
    <ion-slide>
      <ion-card-header expand="full">
        <ion-card-title>IRON MAN, Tony Stark </ion-card-title>
        <ion-card-content>
          <img src="assets/iron_man.jpg"/>
          <ion-button expand="full" color="warning" (click)="gopageim();" >lire</ion-button>
          <ion-img src="/assets/bien.gif"></ion-img>
        </ion-card-content>
      </ion-card-header>
    </ion-slide>
    <ion-slide>
      <ion-card-header expand="full">
        <ion-card-title>HULK, Bruce Banner</ion-card-title>
        <ion-card-content>
          <img src="assets/hulk.jpg"/>
          <ion-button expand="full" color="warning" (click)="gopagehulk();">lire</ion-button>
          <ion-img src="/assets/bien.gif"></ion-img>
        </ion-card-content>
      </ion-card-header>
    </ion-slide>
      <ion-slide>
          <ion-card-header expand="full">
              <ion-card-title>Captain america</ion-card-title>
              <ion-card-content>
                  <img src="assets/ca.jpg"/>
                  <ion-button expand="full" color="warning" (click)="gopagecaptainamerica();">lire</ion-button>
                <ion-img src="/assets/bien.gif"></ion-img>
              </ion-card-content>
          </ion-card-header>
      </ion-slide>
    <ion-slide>
      <ion-card-header expand="full">
        <ion-card-title>Black-Widow</ion-card-title>
        <ion-card-content>
          <img src="assets/bw.jpg"/>
          <ion-button expand="full" color="warning" (click)="gopageblackwidow();">lire</ion-button>
          <ion-img src="/assets/bien.gif"></ion-img>
        </ion-card-content>
      </ion-card-header>
    </ion-slide>
    <ion-slide>
      <ion-card-header expand="full">
        <ion-card-title>Nick Fury, le discret maître des opérations</ion-card-title>
        <ion-card-content>
          <img src="assets/fury.jpg"/>
          <ion-button expand="full" color="warning" (click)="gopagefury();">lire</ion-button>
          <ion-img src="/assets/bien.gif"></ion-img>
        </ion-card-content>
      </ion-card-header>
    </ion-slide>
    <ion-slide>
      <ion-card-header expand="full">
        <ion-card-title>Hawkeye (Œil-de-Faucon),
          ninja des temps modernes</ion-card-title>
        <ion-card-content>
          <img src="assets/ha.jpg"/>
          <ion-button expand="full" color="warning" (click)="gopageha();">lire</ion-button>
          <ion-img src="/assets/bien.gif"></ion-img>
        </ion-card-content>
      </ion-card-header>
    </ion-slide>
    <ion-slide>
      <ion-card-header expand="full">
        <ion-card-title>LOKI
          </ion-card-title>
        <ion-card-content>
          <img src="assets/loky.jpg"/>
          <ion-button expand="full" color="warning" (click)="gopageloky();">lire</ion-button>
          <ion-img src="/assets/bien.gif"></ion-img>
        </ion-card-content>
      </ion-card-header>
    </ion-slide>
  </ion-slides>

</ion-content>
