.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
#ic{
  animation-duration: 3s;
  animation-delay: 2s;
}
#ic2{
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
