<ion-header>
  <ion-toolbar  color="danger">
    <ion-title style="color:white;">
      INFO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card animeted tada">
    <ion-img src="/assets/logo.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Par TALOM BOUOPDA ARNAUD</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>TALOMBOUOPDAARNAU@GMAIL.COM</ion-card-content>
  </ion-card>
</ion-content>
