<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="color:white;">loky</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/loky.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Loki, le frère fourbe et jaloux</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Alias:</h2>
      <p>
        Loki Laufeyson, fils adoptif d'Odin
      </p>
      <b><h2>Incarné au cinéma par:</h2></b>
      <p>
        Tom Hiddleston
      </p>
      <b><h2>Origines:</h2></b>
      <p>
        élevé par Odin, Loki a toujours envié les qualités martiales de son frère aîné, Thor, et convoité le trône d'Asgard. Quand il découvre qu'il n'est pas le fils biologique d'Odin qui a tué son véritable père, il vire à l'ennemi et tente par tous les moyens de se débarrasser de Thor pour pouvoir établir sa domination sur les mondes terrestres et extraterrestres. </p>
      <b><h2>Pouvoirs:</h2></b>
      <p>
        comme tout «dieu» qui se respecte, Loki est né avec une force surhumaine. Il possède en plus le pouvoir de se métamorphoser, de projeter des images de lui et de s'emparer de l'âme des gens pour en faire ses marionnettes. Grâce à son sceptre, il peut lancer toutes sortes de projectiles «magiques», dont des éclairs.</p>
      <b><h2>Personnalité:</h2></b>
      <p>
        il est le dieu du mensonge et de la duperie, machiavélique, dangereux et névrosé. Mais surtout, terriblement rusé et extrêmement persévérant: il ne cessera jamais de s'opposer à Thor.</p>
      <b><h2>À noter:</h2></b>
      <p>
        Loki est le «super-vilain» de The Avengers où il projette de conquérir la terre. </p>
    </ion-card-content>
  </ion-card>
</ion-content>

