<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color:white;">Fury</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/fury.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Nick Fury, le discret maître des opérations</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Alias:</h2>
      <p>
        colonel Nicholas Fury, directeur de l'agence de protection de la Terre, le S.H.I.E.L.D.
      </p>
      <b><h2>Incarné au cinéma par:</h2></b>
      <p>
        Samuel L. Jackson
      </p>
      <b><h2>Origines:</h2></b>
      <p>
        après la Seconde Guerre mondiale où il s'était engagé comme militaire, Nick Fury se met au service de l'OSS puis de la CIA. Il finit à la tête du S.H.I.E.L.D, une agence de contre-espionnage qui devient peu à peu une agence de protection mondiale. Avec cette organisation il surveille notamment les menaces provenant de personnes dotées de pouvoirs étranges, et tente de trouver des solutions pour les contrer. C'est ainsi qu'il souhaite mettre à exécution l'initiative «Avengers»: monter une équipe d'individus extraordinaires pour faire face aux menaces extradordinaires.
      </p>
      <b><h2>Pouvoirs:</h2></b>
      <p>
        aucun pouvoir présenté explicitement, mais il a dû recevoir une injection du même type de sérum que celui de Captain America lui assurant longévité et force. Fury est un soldat surentraîné et un stratège hors pair, capable de trouver une issue aux situations les plus désastreuses.
      </p>
      <b><h2>Personnalité:</h2></b>
      <p>
        Boss intransigeant, Nick Fury dirige le S.H.I.E.L.D d'une main de fer. Peu enclin aux compromis, il sait toutefois improviser selon les circonstances qui s'imposent à lui. Il a une vision très claire de ce que doit être le S.H.I.E.L.D (et les Avengers) et se débrouille pour la concrétiser envers et contre tous. C'est aussi un agent fidèle, toujours prêt à venir en aide aux super-héros qu'il est l'un des seuls à comprendre.
      </p>
      <b><h2>À noter:</h2></b>
      <p>
        Nick Fury intervient pour la première fois à l'écran dans Iron Man, au cours d'une scène située après le générique de fin où il explique à Tony Stark qu'il n'est pas «le seul super-héros dans le monde». Il apparaît par la suite ponctuellement dans les deux autres films pré-Avengers de la franchise Marvel, à savoir Thor et Captain America.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
