<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color:white;">Thor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/thor.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title color="danger"><b>Thor, le dieu du tonnerre</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2 style="color:red;"><b>Alias:</b></h2>
      <p style="color:black;">
        Thor Odinson, prétendant au trône d'Asgard à la succession de son père, le dieu Odin.
      </p>
      <b><h2 color="danger" style="color:red;">Incarné au cinéma par:</h2></b>
      <p style="color:black;">
         Chris Hemsworth
      </p>
      <b><h2 color="danger" style="font-weight: bold; color:red;">Origines:</h2></b>
      <p style="color:black;">
        puni par Odin pour avoir désobéi aux ordres, Thor est exilé sur terre comme simple mortel. Au terme de cette épreuve initiatique, il se montre digne de récupérer ses pouvoirs, critallisés dans son marteau, Mjolnir.
      </p>
      <b><h2 color="danger" style="font-weight: bold;color:red;">Pouvoirs:</h2></b>
      <p style="color:black;">
        comparé aux terriens, Thor est un dieu. Il possède une force surhumaine, une longévité proche de l'immortalité et une faculté de régénérescence physique. Grâce à son marteau, il peut voler, contrôler les conditions météorologiques et se servir de la foudre comme arme.
      </p>
      <b><h2 color="danger" style="font-weight: bold; color:red;">Personnalité:</h2></b>
      <p style="color:black;">
        spontanément arrogant et orgueilleux, Thor a appris peu à peu la valeur de l'humilité et de la solidarité (même si sa nature première reprend parfois le dessus). Il entretient une relation d'amour-haine avec son frère, Loki, et se sent coupable du fait que ce dernier soit devenu mauvais.
      </p>
      <b><h2 color="danger" style="font-weight: bold; color:red;">À noter:</h2></b>
      <p style="color:black;">
        inspiré de la mythologie nordique, Thor est le super-héros qui brouille le plus les frontières entre la réalité et le fantastique. Son identité de dieu et ses pouvoirs lui donnent un caractère magique que n'ont pas les autres héros de ce film Marvel, dont les pouvoirs sont issus d'expériences scientifiques. En réalité, Thor n'est pas un être divin, simplement un extraterrestre aux caractéristiques physiques différentes de celles des terriens.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
