<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color:white;">IRON MAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-img src="/assets/iron_man.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>IRON MAN, Tony Stark</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Alias:</h2>
      <p>
      Tony Stark, big boss de Stark Industries , ancienne industrie d'ames militaires,
      reconvertie dans l'énergie verte et la haute technologie.
      </p>
      <b><h2>Incarné au cinéma par:</h2></b>
      <p>
        Robert Downey Jr (2008, 2010, 2012)
      </p>
      <b><h2>Origines:</h2></b>
      <p>
        lors d'une démonstration militaire en Afghanistan, Tony Sark est attaqué et enlevé par un groupe terroriste. Grièvement blessé (une mine a projeté des éclats près de son cœur), il ne survit que grâce à un générateur miniature placé sur sa poitrine. Il met alors au point une armure d'acier alimentée par cette source d'énergie et devient Iron Man.
      </p>
      <b><h2>Pouvoirs:</h2></b>
      <p>
        l'armure de haute technologie qu'il s'est fabriquée confère à Stark une force surhumaine, une endurance extrême, la capacité de voler et une panoplie d'armes ultrasophistiquées.
      </p>
      <b><h2>Personnalité:</h2></b>
      <p>
        Inventeur de génie (ce qui fait qu'il s'entend bien avec Bruce Banner), Tony Stark est un milliardaire égocentrique, devenu super-héros davantage par goût de la provocation que par altruisme. Son humour second degré et son sens de la répartie le rendent aussi irrésistible qu'agaçant. Malgré sa désinvolture, il prend toujours ses responsabilités.
      </p>
      <b><h2>À noter:</h2></b>
      <p>
        Iron Man est la figure des Avengers à avoir eu le plus de succès au cinéma (le deuxième volet des aventures a engrangé 623 millions de dollars dans le monde). Sa popularité a permis à Marvel de préparer le terrain des Avengers en introduisant des références à Stark dans L'Incroyable Hulk et Captain America.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
